.tab{
    width: 80%;
    transition: height 1s ease-in-out;
}

.tabHeader{
    background-color: #A4CDE2;
    margin-right: 50px;
    border-radius: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 250px;
    margin-top: 25px;
    transition: all 300ms ease-in-out 300ms, background-color 0s;
}

.tabHeader\.extended{
    width: 100%;
    background-color: #A4CDE2;
    margin-right: 50px;
    border-radius: 10px 10px 0 0;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 25px;
    transition: all 300ms ease-in-out, background-color 0s;
}

.tabHeaderTitle{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    padding-right: 580px;
}

.tabContent{
    height: 0px;
    width: 80%;
    padding-top: 0;
    border-radius: 0px;
    display: block;
    position: relative;
    overflow: hidden;
    transition: all 300ms ease-in-out 0ms, background-color 0ms;
    background-color: rgba(176, 115, 230, .4);

}

.tabContent\.extended{
    height: 30vh !important;
    overflow: hidden;
    background-color: rgba(176, 115, 230, .4);
    transition: all 300ms ease-in-out 300ms, background-color 0ms;
    border-radius: 0 0 15px 15px;
    width: 80%;
}

.tabListItem{
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
    padding-left: 10px;
}

.tabButton{
    display: inline-flex;
    justify-content: center !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    height: 100%;
    width: 150px;
    color: white;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #00B7EF;
    text-decoration: none;
}

.tabButton:hover{
    background-color: #023A51;
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    border: 2px solid #00B7EF;
    -webkit-transition: border-color 200ms ease-in-out;
    transition: border-color 200ms ease-in-out;
    text-decoration: none;
    color: #00B7EF;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

.true {
    height: auto !important;
    padding-top: 25px !important;
    transition: height 1s ease-in-out;
}